{% extends 'flatpages/default.html' %}

{% block content %}
<h2>Страница авторизованного пользователя  <p style="color: green;">{{ request.user.username }}!</p></h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>
{% if is_not_authors %}
<a href="{% url 'upgrade' %}"<button type="button" class="btn btn-primary">Хочу стать автором</button></a>
{% endif %}
<a href="/accounts/logout/"><button type="button" class="btn btn-danger">Выйти</button>
{% endblock %}