{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Все публикации
{% endblock title %}
{% block content %}
<style>
   table, th, td {
    border: 2px solid black;
  }
  </style>
<h1>Количество публикаций: {{ news | length}}</h1>
{% if category_news_list %}
{% if is_not_subscriber%}
<p class="text-center"><a href="{% url 'subscribe' category_id %}"><u><button type="button" class="btn btn-primary">Подписаться</button></u></a></p>
{% endif%}
<table border="3">
<tr>
    <td><em><b>Заголовок</b></em></td>
    <td><em><b>Дата</b></em></td>
    <td><em><b>Описание</b></em>(20 символов)</td>
    <td><em><b>Категории</b></em></td>
</tr>
    {% for item in category_news_list %}
    <tr>
        <td>
            <a href="{% url 'post_full' item.id %}">{{ item.title | censor }}</a>
            <a href="{% url 'post_create' item.id %}"><u><button type="button" class="btn btn-primary">Редактировать</button></u></a>
            <a href="{% url 'post_delete' item.id %}"><u><button type="button" class="btn btn-outline-danger">Удалить</button></u></a>
        </td>
        <td>{{ item.created_time | date:'d.m.Y' }}</td>
        <td>{{ item.text | truncatechars:20 }}</td>
    </tr>
    {% endfor %}
    <h5 class="card-title text-center"><b>{{ post.title|censor }}</b></h5>
    <p class="card-text"><i>{{ post.text|censor }}</i></p>
</table>
{% endif %}

{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
    {% if page_obj.previous_page_number != 1 %}
    ...
    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">
        {{ page_obj.next_page_number }}
    </a>
    {% if paginator.num_pages != page_obj.next_page_number %}
    ...
    <a href="?page={{ page_obj.paginator.num_pages }}">
        {{ page_obj.paginator.num_pages }}
    </a>
    {% endif %}
{% endif %}
{% endblock content %}